<% case current_user.one_more 

    when  "https://www.ufret.jp/artistlist.php?data=a" %>
        <h3 class="h3"> 「あ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=i" %>
        <h3 class="h3"> 「い」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=u" %>
        <h3 class="h3"> 「う」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=e" %>
        <h3 class="h3"> 「え」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=o" %>
        <h3 class="h3"> 「お」から始まるアーティスト名</h3>

    <% when  "https://www.ufret.jp/artistlist.php?data=ka" %>
        <h3 class="h3"> 「か」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ki" %>
        <h3 class="h3"> 「き」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ku" %>
        <h3 class="h3"> 「く」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ke" %>
        <h3 class="h3"> 「け」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ko" %>
        <h3 class="h3"> 「こ」から始まるアーティスト名</h3>


    <% when  "https://www.ufret.jp/artistlist.php?data=sa" %>
        <h3 class="h3"> 「さ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=si" %>
        <h3 class="h3"> 「し」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=su" %>
        <h3 class="h3"> 「す」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=se" %>
        <h3 class="h3"> 「せ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=so" %>
        <h3 class="h3"> 「そ」から始まるアーティスト名</h3>


    <% when  "https://www.ufret.jp/artistlist.php?data=ta" %>
        <h3 class="h3"> 「た」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ti" %>
        <h3 class="h3"> 「ち」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=tu" %>
        <h3 class="h3"> 「つ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=te" %>
        <h3 class="h3"> 「て」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=to" %>
        <h3 class="h3"> 「と」から始まるアーティスト名</h3>
    
        
    <% when  "https://www.ufret.jp/artistlist.php?data=na" %>
        <h3 class="h3"> 「な」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ni" %>
        <h3 class="h3"> 「に」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=nu" %>
        <h3 class="h3"> 「ぬ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ne" %>
        <h3 class="h3"> 「ね」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=no" %>
        <h3 class="h3"> 「の」から始まるアーティスト名</h3>

    <% when  "https://www.ufret.jp/artistlist.php?data=ha" %>
        <h3 class="h3"> 「は」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=hi" %>
        <h3 class="h3"> 「ひ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=hu" %>
        <h3 class="h3"> 「ふ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=he" %>
        <h3 class="h3"> 「へ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ho" %>
        <h3 class="h3"> 「ほ」から始まるアーティスト名</h3>
    
        
    <% when  "https://www.ufret.jp/artistlist.php?data=ma" %>
        <h3 class="h3"> 「ま」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=mi" %>
        <h3 class="h3"> 「み」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=mu" %>
        <h3 class="h3"> 「む」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=me" %>
        <h3 class="h3"> 「め」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=mo" %>
        <h3 class="h3"> 「も」から始まるアーティスト名</h3>
    
        
    <% when  "https://www.ufret.jp/artistlist.php?data=ya" %>
        <h3 class="h3"> 「や」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=yu" %>
        <h3 class="h3"> 「ゆ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=yo" %>
        <h3 class="h3"> 「よ」から始まるアーティスト名</h3>
    
        
    <% when  "https://www.ufret.jp/artistlist.php?data=ra" %>
        <h3 class="h3"> 「ら」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ri" %>
        <h3 class="h3"> 「り」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ru" %>
        <h3 class="h3"> 「る」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=re" %>
        <h3 class="h3"> 「れ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=ro" %>
        <h3 class="h3"> 「ろ」から始まるアーティスト名</h3>
    
        
    <% when  "https://www.ufret.jp/artistlist.php?data=wa" %>
        <h3 class="h3"> 「わ」から始まるアーティスト名</h3>
    <% when "https://www.ufret.jp/artistlist.php?data=nn" %>
        <h3 class="h3"> 「ん」から始まるアーティスト名</h3>
        

    
        

    
        

    
        


    <% else %>
        <h3 class="h3"> 五十音から始まらないアーティスト名</h3>
<% end %>