<p class= "text-info"><%= @theuser.email  %> </p>
<div class="container">
    <div class="entry">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <% @songs.each do |song|  %>
                        <p class="list-group-item"><%= song.title %></p>
                    <% end %>
                </div>
                <div class="col-xs-6">
                    <% @songs.each do |song|  %>
                        <p class="source list-group-item"><%= link_to 'Song', song.url %> &nbsp &nbsp
                        <% if !(current_user.songs.exists?(url: song.url)) %>
                            <%= link_to "Add", take_song_path(link: song.url), method: :patch,class:" badge badge-success text-white" %>
                        <% end %>
                        </p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

