All other users 

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <% @others.each do |other|  %>
                <% if !(other.email == current_user.email) %>
                    <p class="list-group-item">
                    <%= link_to other.email, save_following_path(email: other.email), method: :patch %>
                    has <b class="text-danger"><%= other.songs.count %></b> songs.

                    And 
                    <% @count = 0 %>
                    <% other.songs.each do |song| %>
                    
                        <% if current_user.songs.exists?(url: song.url) %>
                            <% @count = @count +1 %>
                        <% end %>

                    <% end %>

                    <b class="text-danger"><%= @count %></b> songs in common.
                    </p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

