All other users 

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <% @others.each do |other|  %>
                <% if !(other.email == current_user.email) %>
                    <p class="list-group-item ">
                    <%= link_to other.email, save_following_path(email: other.email), method: :patch %>
                    <br>
                    <b class="badge badge-success text-white"><%= other.songs.count %></b> songs.
                    <% @count = 0 %>
                    <% other.songs.each do |song| %>
                    
                        <% if current_user.songs.exists?(url: song.url) %>
                            <% @count+=1 %>
                        <% end %>

                    <% end %> 
                    <b class="badge badge-info text-white"><%= @count %></b> in common.
                    <b class="badge badge-warning text-white"><%= other.countnum %></b> artists
                    </p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

