Lising all songs

<div class="container">
    <div class="entry">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <% @songs.each do |song|  %>
                        <p class="list-group-item"><%= song.title %></p>
                    <% end %>
                </div>
                <div class="col-xs-6">
                    <% @songs.each do |song|  %>
                        <p class="source list-group-item"><%= link_to 'Song', song.url %> &nbsp &nbsp
                        <%=link_to "Remove", favsong_path(song),method: :delete, data: {confirm: "Do you wanna save it?"},class:" badge badge-danger text-white" %>
                        </p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

